footer {
    background: url(../images/IT_Park.webp) no-repeat center;
    background-size: cover;
    opacity: 50px;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.h{
    color: #FFFFFF;
}


p.para-agileits-w3layouts a:hover {
    color: #a5a3a3 !important;
}

h4.contact-title,
h2.contact-title {
    letter-spacing: 1px;
    font-size: 36px;
}

p.conta-para-style {
    border-left: 2px solid #42a5f5 !important;
    color: #dcdcdc;
}

/* subscribe */

.subscribe-w3ls h6 {
    font-size: 22px;
    letter-spacing: 1px;
}

.subscribe-w3ls input[type="email"] {
    width: 50%;
    float: left;
    padding: 14px;
    font-size: 15px;
    color: #fff;
    outline: none;
    background: rgba(255, 255, 255, 0.26);
    border: none;
    letter-spacing: 1px;
    border-radius: 0;
}

.subscribe-w3ls button[type="submit"] {
    font-size: 15px;
    outline: none;
    letter-spacing: 2px;
    padding: 14px 40px;
    border: none;
    background: #4baaf6;
    border-radius: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.subscribe-w3ls button[type="submit"]:hover {
    background: #000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* //subscribe */

p.para-agileits-w3layouts i {
    color: #42a5f5;
}

.map iframe {
    outline: none;
    border: none;
    width: 80%;
    height: 420px;
}

.map {
    position: relative;
}

.conta-posi-w3ls {
    background: linear-gradient(to left, #42a5f5, #86c9ff);
    width: 50%;
    position: absolute;
    top: 40%;
    right: 4%;
}

.conta-posi-w3ls h5 {
    font-size: 28px;
    letter-spacing: 1px;
}

.conta-posi-w3ls p {
    color: #efefef;
}

/* copyright */

.copyright-agiles {
    background: rgba(0, 0, 0, 0.57);
    box-shadow: 2px 1px 2px 1px #f9f5f5;
}

p.copy-right-grids a {
    color: #4baaf6;
}

p.copy-right-grids a:hover {
    color: #fff;
}
.list{
    width: 18%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
